{%  extends 'shop/base.html' %}
{% load static %}

{% block content %}
    <br>
    <div class="container-fluid">
        <div class="cart-card">
            <section class="cart-info-wrapper">
                <div class="cart-info">
                    <div class="cart-return">
                        <button>Continue shopping</button>
                    </div>
                    <div class="cart-detail">
                        <div class="items-counter">
                            <span>Products in cart: <span id="cart-items-number">{{ cart.items_number }}</span></span>
                        </div>
                        <div class="cart-total">
                            <span>Total: <span id="cart-total-price"  class="price">{{ cart.cart_total }}</span>PLN</span>
                        </div>
                        <div class="cart-checkout">
                            <a href="{% url 'checkout' %}">Checkout</a>
                        </div>
                    </div>
                </div>
            </section>

            <section class="cart">
                <div class="cart-header">
                    <div class="cart-col col-placeholder"><span></span></div>
                    <div class="cart-col"><span>Item</span></div>
                    <div class="cart-col"><span>Price</span></div>
                    <div class="cart-col"><span>Quantity</span></div>
                    <div class="cart-col"><span>Total</span></div>
                </div>
                <hr>
                <div class="cart-items">
                    {% for item in items %}
                        <div class="cart-item-row" id="item-data-{{ item.product.id }}">
                            <div class="cart-col col-image">
                                <img class="cart-image-preview" src="{{ item.product.image_preview.url }}" alt="">
                            </div>
                            <div class="cart-col">
                                <span>{{ item.product.name }}</span>
                            </div>
                            <div class="cart-col price">
                                <span>{{ item.product.total_price }}PLN</span>
                            </div>
                            <div class="cart-col">
                                <div class="quantity">
                                    <span style="margin: auto 10px" id="product-quantity-{{ item.product.id }}">{{ item.quantity }}</span>
                                    <div class="quantity-arrows">
                                        <img data-product='{{ item.product.id }}' data-action="add" class="change-quantity update-cart" src="{% static 'shop/images/arrow_up.png' %}">
                                        <img data-product='{{ item.product.id }}' data-action="remove" class="change-quantity update-cart" src="{% static 'shop/images/arrow_down.png' %}">
                                    </div>
                                </div>

                            </div>
                            <div class="cart-col price">
                                <span id="item-total-{{ item.product.id }}">{{ item.item_total }}</span><span>PLN</span>
                            </div>
                        </div>
                    {% endfor %}
                    

                </div>
            </section>
        </div>
    </div>

{% endblock content %}
