{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
    <br>
    <div class="container-fluid">
        <div class="checkout-wrapper">
            <section class="client-info">
                <form id="checkout-form" action="" method="POST" onsubmit="return validateCheckoutForm()">
                    {% csrf_token %}
                    <div class="header">
                        <span>Addresses</span>
                    </div>
                    <h2 class="sub-header">Shipping address</h2>
                    <div class="address-selector" id="delivery-address">
                        {% for address in addresses %}
                            <div class="address-brick" id="delivery-address-{{ address.id }}">
                                <div class="address-header">
                                    <span class="radio-btn">
                                        <input type="radio" name="address-delivery" value="{{ address.id }}">
                                    </span>
                                    <span>{{ address.name }}</span>
                                </div>
                                <div class="address-content">
                                    <h6>{{ address.customer }}</h6>
                                    {% if address.company_name %}
                                        <h6>{{ address.company_name }}</h6>
                                        {% if address.tax_number %}
                                            <h6>{{ address.tax_number }}</h6>
                                        {% endif %}
                                    {% endif %}
                                    <h6>{{ address.street }} {{ address.number }}</h6>
                                    <h6>{{ address.zip_code }} {{ address.city }}</h6>
                                    <h6>{{ address.country }}</h6>
                                    <h6>{{ address.customer.phone }}</h6>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <br>
                    <h2 class="sub-header">Invoice address</h2>
                    <div class="address-selector" id="invoice-address">
                        {% for address in addresses %}
                            <div class="address-brick" id="invoice-address-{{ address.id }}">
                                <div class="address-header">
                                    <span class="radio-btn">
                                        <input type="radio" name="address-invoice" value="{{ address.id }}">
                                    </span>
                                    <span>{{ address.name }}</span>
                                </div>
                                <div class="address-content">
                                    <h6>{{ address.customer }}</h6>
                                    {% if address.company_name %}
                                        <h6>{{ address.company_name }}</h6>
                                        {% if address.tax_number %}
                                            <h6>{{ address.tax_number }}</h6>
                                        {% endif %}
                                    {% endif %}
                                    <h6>{{ address.street }} {{ address.number }}</h6>
                                    <h6>{{ address.zip_code }} {{ address.city }}</h6>
                                    <h6>{{ address.country }}</h6>
                                    <h6>{{ address.customer.phone }}</h6>
                                </div>                            </div>
                        {% endfor %}
                    </div>
                    <div class="justify-center">
                        <input class="proceed-btn" id="checkout-proceed" type="submit" value="Proceed" disabled>
                    </div>

                </form>

            </section>


            <section class="order-summary">
                <a class="btn btn-warning" href="{% url 'cart' %}">Back to cart</a>
                <hr>
                <div class="order-details">
                    <p>Order summary</p>
                    <hr>
                    <div class="items-checkout">
                        {% for item in items %}
                            <div class="cart-item-row">
                                <div class="cart-col col-image">
                                    <img class="cart-image-preview" src="{{ item.product.image_preview.url }}" alt="">
                                </div>
                                <div class="cart-col">
                                    <span>{{ item.product.name }}</span>
                                </div>
                                <div class="cart-col price">
                                    <span>{{ item.product.total_price }}PLN</span>
                                </div>
                                <div class="cart-col">
                                    <span style="margin: auto 10px">x{{ item.quantity }}</span>

                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </section>
        </div>
    </div>

{% endblock content %}
