{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
    <br>
    <div class="container-fluid">
        <div class="checkout-wrapper">
            <section class="client-info">
                {% if user.is_authenticated %}
                    <form id="checkout-form" action="" method="POST" onsubmit="return validateCheckoutForm()">
                {% else %}
                    <form id="checkout-form" action="" method="POST">
                {% endif %}
                        {% csrf_token %}
                        {% if user.is_authenticated %}
                            {% include 'shop/pages/checkout-authenticated.html' %}
                        {% else %}
                            {% include 'shop/pages/checkout-unauthenticated.html' %}
                        {% endif %}
                        <hr>
                        <div class="justify-center">
                            <input class="proceed-btn" id="checkout-unauthenticated" type="submit" value="Order with the obligation to pay">
                        </div>
                </form>

            </section>


            <section class="cart-summary">
                <a class="btn btn-warning" href="{% url 'cart' %}">Back to cart</a>
                <hr>
                <div class="order-details">
                    <p>Order summary</p>
                    <hr>
                    <div class="items-checkout">
                        {% for item in items %}
                            <div class="cart-item-row">
                                <div class="cart-col col-image">
                                    <img class="cart-image-preview" src="{{ item.product.image_preview.url }}" alt="">
                                </div>
                                <div class="cart-col">
                                    <span>{{ item.product.name }}</span>
                                </div>
                                <div class="cart-col price">
                                    <span>{{ item.product.total_price }}PLN</span>
                                </div>
                                <div class="cart-col">
                                    <span style="margin: auto 10px">x{{ item.quantity }}</span>

                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </section>
        </div>
    </div>

{% endblock content %}
