{% load static %}
<div class="header">
    <span>Addresses</span>
</div>
<div id="shipping_form" name="shipping-address">
    <h2 class="sub-header">Shipping address</h2>
    <div class="input-group">
        <div class="input-group">
            <label class="input-group-label">Email Address</label>
            <input name="email_address" type="email" required>
        </div>
        {% include 'shop/pages/checkout-address-form.html' with address_form=shipping_form %}
    </div>
</div>
<input id="invoice-checkbox" type="checkbox" name="same_as_shipping" onclick="setBilling(this)">
<hr>
<div id="invoice_form" name="invoice-address">
    <h2 class="sub-header">Invoice address</h2>
    <div class="input-group">
        {% include 'shop/pages/checkout-address-form.html' with address_form=invoice_form %}
    </div>
</div>
