{% load static %}

<div class="header">
    <span>Addresses</span>
</div>
<h2 class="sub-header">Shipping address</h2>
<div class="address-selector" id="delivery-address">
    {% for address in addresses %}
        <div class="address-brick" id="delivery-address-{{ address.id }}">
            <div class="address-header">
                                    <span class="radio-btn">
                                        {% if address.default and address.address_type == 'S' %}
                                            <input type="radio" name="address-delivery" value="{{ address.id }}"
                                                   checked>
                                        {% else %}
                                            <input type="radio" name="address-delivery" value="{{ address.id }}">
                                        {% endif %}
                                    </span>
                <span>{{ address.name }}</span>
            </div>
            <div class="address-content">
                <h6>{{ address.customer }}</h6>
                {% if address.company_name %}
                    <h6>{{ address.company_name }}</h6>
                    {% if address.tax_number %}
                        <h6>{{ address.tax_number }}</h6>
                    {% endif %}
                {% endif %}
                <h6>{{ address.street }} {{ address.number }}</h6>
                <h6>{{ address.zip_code }} {{ address.city }}</h6>
                <h6>{{ address.country }}</h6>
                <h6>{{ address.customer.phone }}</h6>
            </div>
        </div>
    {% endfor %}
</div>
<div class="address-footer">
    <a href="{% url 'address-add' %}">
        <i class="fa fa-plus"></i>
        <span>Add new address</span>
    </a>
</div>
<hr>
<h2 class="sub-header">Invoice address</h2>
<div class="address-selector" id="invoice-address">
    {% for address in addresses %}
        <div class="address-brick" id="invoice-address-{{ address.id }}">
            <div class="address-header">
                                    <span class="radio-btn">
                                        {% if address.default and address.address_type == 'B' %}
                                            <input type="radio" name="address-invoice" value="{{ address.id }}" checked>
                                        {% else %}
                                            <input type="radio" name="address-invoice" value="{{ address.id }}">
                                        {% endif %}

                                    </span>
                <span>{{ address.name }}</span>
            </div>
            <div class="address-content">
                <h6>{{ address.customer }}</h6>
                {% if address.company_name %}
                    <h6>{{ address.company_name }}</h6>
                    {% if address.tax_number %}
                        <h6>{{ address.tax_number }}</h6>
                    {% endif %}
                {% endif %}
                <h6>{{ address.street }} {{ address.number }}</h6>
                <h6>{{ address.zip_code }} {{ address.city }}</h6>
                <h6>{{ address.country }}</h6>
                <h6>{{ address.customer.phone }}</h6>
            </div>
        </div>
    {% endfor %}
</div>
<div class="address-footer">
    <a href="{% url 'address-add' %}">
        <i class="fa fa-plus"></i>
        <span>Add new address</span>
    </a>
</div>
<hr>
<div class="justify-center">
    <input class="proceed-btn" id="checkout-proceed" type="submit" value="Order with the obligation to pay" disabled>
</div>
