{%  extends 'shop/base.html' %}
{% load static %}

{#<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">#}

{% block content %}
    <br>
    <div class="product-container">
        <section class="product-card">
            <section class="product-card-gallery">
                <aside class="gallery-slider">
                    <ul class="image-list">
                        {% for image in images %}
                            <li class="image-list-item">
                                <div class="image-slider">
                                    <img src="{{ image.image.url }}" alt="">
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </aside>
                <aside class="gallery-main-photo">
                    <img class="gallery-main-photo" style="margin-left: 0" src="{{ item.image_preview.url }}" id="main-img">
                </aside>

            </section>
            <div class="product-info">
                <div class="product-data-wraper">
                    <h1 class="product-name nounderline">{{ item.name }}</h1>
                    <span class="product-price">{{ item.total_price }} PLN</span>
                    <br>
                    <div class="product-details">
                        <h3>DESCRIPTION</h3>
                        <p class="product-description">{{ item.description }}</p>
                    </div>
                    <div data-product="{{ item.id }}" data-action="add" class="add-to-cart">
                        <button class="cart-button">
                            <span class="cart-button-icon">
                            </span>
                            <div class="cart-button-text">
                                <span>
                                    ADD PRODUCT TO CART
                                </span>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script>
        let thumbnails = document.getElementsByClassName('image-slider')
        let activeImages = document.getElementsByClassName('active')

        for (let i=0; i < thumbnails.length; i++){
            thumbnails[i].addEventListener('click', function(){
                if(activeImages.length > 0){
                    activeImages[0].classList.remove('active')
                }
                this.classList.add('active')
                let img = this.getElementsByTagName('img')[0]
                document.getElementById('main-img').src = img.src
            })
        }

    </script>

{% endblock content %}

