{%  extends 'shop/base.html' %}
{% load static %}

{#<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">#}

{% block content %}
    <br>
    <div class="container-fluid">
        <div class="products-brick">
            {% for product in products %}
                <div class="item-product">
                    <img class="thumbnail" src="{{ product.image_preview.url }}" alt="">
                    <div class="box-element product">
                        <span class="item-price">{{ product.total_price }}</span>
                        <a class="item-name nounderline" href="{% url 'product-detail' product.id %}">{{ product.name }}</a>
        {#                <button class="btn btn-outline-secondary add-btn">Add to Cart</button>#}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
