{%  extends 'shop/base.html' %}
{% load static %}

{#<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">#}

{% block content %}
    <br>
    <div class="container-fluid">
        <div class="products-brick">
            {% csrf_token %}
            {% for product in products %}
                <div class="item-product">
                    <a href="{% url 'product-detail' product.id %}">
                        <img class="thumbnail" src="{{ product.image_preview.url }}" alt="">
                    </a>
                    <div data-product="{{ product.id }}" data-action="add" class="cart-image add-to-cart">
                        <svg height="56" width="56">
                            <circle cx="28"
                                    cy="28"
                                    r="22"
                                    stroke="black"
                                    pathLength="1"
                                    stroke-dasharray="1 1"
                                    stroke-width="3"
                                    fill="#ffc107"></circle>
                        </svg>
                        <img src="{% static 'shop/images/product-add-cart.svg' %}" alt="">
                    </div>
                    <div class="box-element product">
                        <span class="item-price">{{ product.total_price }} PLN</span>
                        <a class="item-name nounderline" href="{% url 'product-detail' product.id %}">{{ product.name }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
