{% extends 'users/account.html' %}

{% block account-link %}
<h4>Order History</h4>
<table class="order-table">
    <tr class="theader">
        <th>Order Number</th>
        <th>Date</th>
        <th>Total</th>
        <th>Status</th>
        <th>Invoice</th>
    </tr>
{% for order in orders %}
    <tr class="tbody">
        <th>{{ order.order_id }}</th>
        <td>{{ order.get_date }}</td>
        <td>{{ order.cart.cart_total }}</td>
        <td>{{ order.status }}</td>
        <td>Invoice</td>
    </tr>
{% endfor %}
</table>

{% endblock account-link %}
