body {
    background-color: #fbfbff;
    height: 100%;
    min-height: 1000px;
    font-family: 'Crimson Text', serif;
}

.bold {
    font-weight: bold;
}

.container {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.nounderline {
    text-decoration: none !important;
}

/*---------------------
  Navbar
-----------------------*/
#logo-icon {
    margin-left: 10px;
}

#navbar {
    /*overflow:auto;*/
    background-color: #ffffff;
    justify-content: normal;
}

#nav-right {
    margin-left: auto;
    justify-content: flex-end;
    float: right;
}

#store-name {
    color: lightgray;
}

.navbar-nav {
    flex-direction: row;
}

.nav-item {
    padding-right: 5px;
    padding-left: 5px;
}

.navbar-items {
    display: flex;
    align-items: center;
    justify-content: center !important;
    text-align: left;
    position: relative;
    margin: auto;
}

.dropdown {
    position: absolute;
}

.navbar-items ul li .dropdown {
    display: none;
    top: 33px;
    opacity: 1;
    z-index: 9;
}

.navbar-items ul li a:hover, .navbar-items li a:focus {
    text-decoration: underline !important;
}

.navbar-items ul li:hover .dropdown {
    display: block;
    position: absolute;
    visibility: visible;
    opacity: 1;
    z-index: 9;
}

.navbar-items ul li .dropdown {
    position: absolute;
    left: 0;
    top: 33px;
    width: 500px;
    background: #111111;
    text-align: left;
    padding: 2px 0;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

.navbar-items ul li .dropdown li a:after {
    display: none;
}

.navbar-items ul li .dropdown li {
    display: block;
    margin-right: 0;
}

.navbar-items ul li .dropdown li a {
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    padding: 8px 20px;
    text-transform: capitalize;
}

.nav-header {
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    padding: 8px 20px;
    text-transform: capitalize;
}

.nav-link {
    float: left;
    display: flex;
    position: relative;

}

#cart-icon {
    width: 25px;
    display: inline-block;
    margin-left: 15px;
}

#cart-total {
    display: block;
    text-align: center;
    color: #fff;
    background-color: red;
    width: 20px;
    height: 25px;
    border-radius: 50%;
    font-size: 16px;
}

/*---------------------
  Carousel
-----------------------*/

.home-carousel {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

.carousel-inner > .carousel-item > img {
    position: relative;
    overflow: hidden;
    margin-right: 1000px;
    min-height: 700px;
    max-height: 900px;
    object-fit: cover
}

.carousel {
    overflow: hidden;
}

.carousel-item {
    overflow: hidden;
    backface-visibility: visible;
}

.carousel-inner > .item {
    /*disables white flash*/
    -webkit-transition: -webkit-transform .5s ease-in-out;
    -o-transition: -o-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
}

.carousel-caption {
    background: rgb(0, 0, 0, 0.75);
    max-width: 20%;
    min-width: 300px;
    margin: auto;
    bottom: 10%;
    border-radius: 25px;
    float: right;
    position: absolute;
    overflow: hidden;

}

.carousel-control-prev, .carousel-control-next {
    opacity: 0.9;
}

.carousel-text {
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*---------------------
  Products
-----------------------*/
.nounderline {
    text-decoration: none !important
}

.container-fluid {
    position: relative;
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.products-brick {
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    justify-content: center;
    display: grid;
    /*grid-template-columns:  auto auto auto auto;*/
    grid-template-columns: repeat( auto-fit, minmax(275px, max-content) );
    grid-gap: 5px;

}

.item-product {
    position: relative;
    width: 275px;
    overflow: hidden;
    margin: 0 5px 10px;
}

.item-product:hover {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(163, 163, 163, 1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(163, 163, 163, 1);
    box-shadow: 0px 0px 15px 0px rgba(163, 163, 163, 1);
    transition: all 1s ease;
}

.box-element {
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
}

.cart-image {
    position: absolute;
    right: 10px;
    bottom: 70px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    opacity: .7;
    transition: 1.5s;
}

.cart-image svg {
    z-index: 0;
    position: absolute;
}

.cart-image svg {
    stroke-dashoffset: 1;
}

.cart-image:hover svg circle {
    animation: animate-circle-in .5s linear forwards;
}

.cart-image:hover {
    opacity: 1;
}

.cart-image svg circle {
    animation: animate-circle-out .5s none;
}

@keyframes animate-circle-in {
    from {
        stroke-dashoffset: 1;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes animate-circle-out {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 1;
    }
}

.cart-image img {
    position: relative;
    z-index: 9;
    margin: 20%;
    width: 60%;
    height: 60%;
}

.item-price {
    font-weight: 700;
    font-size: 15px;
    display: block;
    text-align: center;
}

.item-name {
    text-transform: none;
    color: gray;
    font-size: 13px;
    text-align: center;
    display: block;
    text-decoration: none;
    transition: 0.3s;
}

.item-name:hover {
    color: black;
}

.product {
    display: block;
    width: 100%;
    border-radius: 0 0 4px 4px;
}

.col-lg-3 {
    margin-top: 15px;
    display: inline-block;
}

.btn {
    border-radius: 0;
}

.thumbnail {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.product-container {
    margin: 0;
    padding: 0;
    border: 0;
}

.product-card {
    width: auto;
    max-width: 1300px;
    margin: 10px auto 0;
    display: flex;
}

.product-card-gallery {
    max-width: 100%;
    margin-bottom: 15px;
    display: flex;
}

.gallery-slider {
    position: relative;
    display: inline-flex;
    width: 200px;
    height: 100%;
    flex: 0 0 9.375%;
    margin-left: 20px;
}

.gallery-slider .active {
    filter: brightness(70%);
}

.gallery-slider .image-slider:hover {
    filter: brightness(70%);
}

.gallery-main-photo {
    margin-left: 15px;
    display: flex;
    position: relative;

    height: 100%;
    width: 100%;

    max-height: 800px;
    min-width: 370px;
    max-width: 500px;

    overflow: hidden;
    /*object-fit: cover;*/
}

.image-list {
    padding: 0;
    list-style: none;
}

.image-list-item {
    width: 75px;
    height: 94px;
    margin-bottom: 25%;
    display: flex;
}

.image-slider {
    cursor: pointer;
}

.image-slider img {
    width: 100%;
    height: 100%;
}

.product-info {
    height: 100%;
    width: 100%;
    max-width: 400px;
    min-height: 1000px;
    float: left;
    position: relative;
    display: inline-block;

}

.product-data-wraper {
    margin-left: 20%;
    margin-top: 20%;
    margin-right: 5%;

}

.product-name {
    font-size: 25px;
    font-weight: 400;
}

.product-price {
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 2px;
}

.product-details {
    margin-top: 20px;
    font-weight: 400;
    font-size: 15px;
}

.product-details h3 {
    font-weight: bold;
    font-size: 15px;
}

.product-description {
    text-align: justify;
    vertical-align: middle;
}

.cart-button {
    width: 100%;
    height: auto;
    min-height: 50px;
    background-color: #ffc107;
    border: medium none;
    font-size: 18px;
    font-weight: 700;
    color: black;
    vertical-align: center;
}

.cart-button-icon {
    display: inline-block;
    content: '';
    background: url('../images/cart-button.png') center center no-repeat transparent;
    width: 24px;
    height: 24px;
}

.cart-button-text {
    display: inline-block;
}

.add-to-cart:hover .cart-button {
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    background-color: #111111;
    color: #ffc107;
}

.add-to-cart:hover .cart-button .cart-button-icon {
    background: url('../images/cart-button-hover.png') center center no-repeat transparent;;

}

.add-to-cart {

}

@media (max-width: 960px) {
    .home-carousel {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .product-card {
        /*max-width: 100vw;*/
        margin-left: 10%;
        margin-right: 10%;
        display: block;
    }

    .product-info {
        max-width: 600px;
    }

}

@media (max-width: 670px) {
    .gallery-slider {
        display: none;
    }

    .product-info {
        /*display: none;*/
    }

    .product-data-wraper {
        margin: auto;
    }

    .gallery-main-photo {
        width: auto;
    }

    .product-card {
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
        right: 10%;
    }

    .gallery-main-photo {
        margin-left: unset;
        width: 100%;
        height: auto;
        min-width: unset;
        overflow: hidden;
    }
}

/*---------------------
  Cart
-----------------------*/

.cart-card {
    display: block;
    position: relative;
    width: 100%;
}

.cart-info-wrapper {
    height: 150px;
    margin-bottom: 20px;
}

.cart-info {
    /* Change later the height */
    height: 100%;
    background-color: #fbfbff;
    border-radius: 10px;
    padding-left: 1%;
    padding-right: 1%;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(163, 163, 163, 1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(163, 163, 163, 1);
    box-shadow: 0px 0px 15px 0px rgba(163, 163, 163, 1);
}

.cart-return {
    padding-top: 1%;
}

.cart-detail {
    position: relative;
    margin-top: 20px;
    margin-bottom: 1%;
    height: 50%;
}


.items-counter {
    display: inline-block;
    width: 30%;
    margin-top: 10px;
}

.cart-total {
    display: inline-block;
    width: 30%;
    overflow: hidden;
}

.cart-checkout {
    display: inline-block;
    position: absolute;
    width: 30%;
    bottom: 0;
    right: 0;

}

.cart-checkout-button {
    display: inline-block;
    position: absolute;
    width: 30%;
    bottom: 0;
    right: 0;

}

.cart {
    padding-bottom: 0;
    background-color: #fbfbff;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(163, 163, 163, 1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(163, 163, 163, 1);
    box-shadow: 0px 0px 15px 0px rgba(163, 163, 163, 1);
}

.cart-header {
    position: relative;
    width: 100%;
    height: 25px;
    padding: .1rem;

    white-space: nowrap;
}

.cart-header span {
    font-weight: bold;
    font-size: 18px;
}

.col-placeholder {
    opacity: 0;
}

.cart-items {
    width: 100%;
    padding: .1rem;
}

.cart-item-row {
    display: flex;
    width: 100%;
    max-height: 100px;
    margin-bottom: 20px;
}

.cart-col {
    display: inline-block;
    margin-left: .5rem;
    margin-right: .5rem;
    width: 15%;
}

.price {
    letter-spacing: 1.5px;
}

.col-image {
    text-align: center;

}

.cart-image-preview {
    height: 100px;
    width: 70px;
    /*max-width: 100%;*/
    object-fit: cover;
}

.quantity {
    display: flex;
    margin-right: 10px;
}

.quantity span {
    width: 30%;
    font-weight: bold;
    font-size: 20px;
}

.change-quantity {
    display: block;
    height: 10px;
    width: 10px;
    margin: 2px 0 5px 5px;
    cursor: pointer;
    filter: grayscale(100%);
    transition: .5s;
}

.change-quantity:hover {
    opacity: .6;
}

@media (max-width: 500px) {
    .container-fluid {
        padding: 0;
    }

}

/*---------------------
  Checkout
-----------------------*/

.checkout-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

}

.checkout-wrapper section {
    flex: 1 1 auto;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(163, 163, 163, 1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(163, 163, 163, 1);
    box-shadow: 0px 0px 15px 0px rgba(163, 163, 163, 1);
}

.client-info {
    width: 40%;
    min-height: 600px;
    background-color: #fbfbff;
    padding: 10px;
    margin-right: 3%;

}

.form-field {
    margin-bottom: 5px;
    margin-right: 5px;
    width: 50%;
}

.user-info {
}

.user-data {
    display: flex;
}

.client-info .checkout {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    align-content: center;
    display: inline-block;
    position: relative;
}

.input-group-label {
    height: 100%;
    min-width: 120px;
    width: 20%;
    margin: 0;
    padding: .5rem;
}

.client-info input {
    position: relative;
    border: 1px solid gray !important;
    border-radius: 5px !important;
    width: 70% !important;
}

.justify-center {
    margin: .5rem 0;
    text-align: center;
}

.proceed-btn {
    cursor: pointer;
    background-color: rgb(30, 149, 70, .8);
    display: inline-block;
    position: relative;
    height: 100%;
    width: 100%;
    color: #fbfbff !important;
    font-weight: bold;
    transition: 1s;
}

.proceed-btn:hover {
    background-color: rgb(30, 149, 70, 1);
}

.proceed-btn:disabled {
    background-color: gray;
}

.order-completed .cart-summary {
    width: 100%;
}

.order-completed .cart-summary .cart-col {
    width: 24%;
}

.order-item-summary {
    max-height: 400px;
    overflow: scroll;
}

.cart-summary {
    position: relative;
    width: 45%;
    min-height: 600px;
    background-color: #fbfbff;
    padding: 10px;
    /*float: left;*/
}

.order-details .cart-col {
    width: 20%;
    text-align: right;
}

#delete-icon {
    color: red;
}

.items-checkout {
    height: auto;
    overflow: auto;
}

#checkout-proceed {
    border-radius: 0 !important;
    font-size: 20px;
    height: 50px;
    width: 100% !important;
}

.order-completed {
    position: relative;
    align-content: center;
}

.order-summary {
    position: relative;
    width: 100%;
    background-color: #fbfbff;
    padding: 10px;
}

.order-addresses {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.payment-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    margin: 0 25%;
    width: 50%;
}

.payment-container colu {
    width: 24%;
}


@media (max-width: 900px) {
    .checkout-wrapper {
        display: block;
    }

    .checkout-wrapper section {
        width: 80%;
        margin: 10px auto;
    }
}

/*---------------------
  Login/Register
-----------------------*/


.user-card {
    background-color: #343a40;
    height: auto;
    color: #fbfbff;
    padding: 10px;
    margin: 20px auto;
    max-width: 300px;
    position: relative;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.form-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-group {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    width: 100%;
}

.input-group-placeholder {
    display: flex;
    width: 38px;
    height: 38px;
    margin-left: -1px;
    align-items: center;
    text-align: center;
    white-space: nowrap;

}

.input-group-icon {
    width: 38px;
    height: 38px;
    align-items: center;
    text-align: center;
    background: #ffc107 !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
    padding: .375rem .75rem;
}

.input-group input {
    position: relative;
    width: 80%;
    padding-left: 5px;
    border-radius: 0 5px 5px 0;
    border: none;
}

#messages {
    background-color: #ffffa1;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
}

.errors {
    display: flex;
    flex-direction: column;
    background-color: #ff726f;
    margin-top: 10px;
    align-content: center;
    text-align: center;
    border-radius: 5px;
    justify-content: center;
    padding: 5px;
}

.errors p {
    font-weight: bold;
    margin-bottom: 5px;
}

/*@media (max-width: 720px) {*/
/*    .user-card{*/
/*        margin: 20px 25%;*/
/*    }*/
/*}*/

/*---------------------
  Account
-----------------------*/

.messages {
    display: block;
    width: 50%;
    background-color: #d4edda;
    margin: .5rem 25% 0 25%;
    align-content: center;
}

.warning {
    text-align: center;
    padding: .75rem 1.25rem;
    background-color: lightcoral;
}


.message-text {
    position: relative;
}

.header {
    margin: 5px 0 15px 0;
    border-bottom: 1px solid lightslategray;
}

.btn-warning {
    margin-right: 5px;
}

.account-container {
    width: 100%;
    padding: 1rem 0;
    border: 1px solid lightslategray;
    display: flex;
    flex-direction: row;
    /*color: lightslategray;*/
}

.account-sidebar {
    width: 20%;
    padding: 0 1rem;
    border-right: 1px solid lightslategray;
}

.account-content {
    align-content: center;
    align-items: center;
    width: 80%;
}

.account-link-container {
    border-bottom: 1px solid lightslategray;
    padding: .6rem;
}

.account-link {
    color: lightslategray;
    transition: .5s;
}

.account-link:hover {
    color: black;
}

.account-sidebar .active {
    color: black;
}

.account-link-content {
    padding: .6rem;
    height: 100%;
    width: 100%;
}

.account-link-content .header {
    font-weight: bold;
    border: 0;
    padding: .5rem;
}

/* Edit Account Data */

.account-link-content input {
    width: 60%;
    background-color: inherit;
    border: 1px solid gray;
    border-radius: 5px;
}

.account-link-content input:focus {
    border: 2px solid gray;
}


.account-btn-container {
    align-items: center;
    text-align: center;
    padding: .5rem;
}

.submit-btn {

}

/*---------------------
  Order History
-----------------------*/

.order-container {
    display: table;
    position: relative;
    width: 100%;
}

.order-table {
    width: 100%;
    margin-top: 5px;
}

.theader {
    background-color: #c6c6c6;
}

.order-table th, td {
    max-width: 1rem;
    padding: 1rem;
    border: 2px solid lightgray;
}

.tbody {
    background-color: #ededed;
}


/*---------------------
  Address
-----------------------*/

.address-selector {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.address-container {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


}

.address-container .address-brick {
    flex: 0 0 26%;
    margin-left: auto;
    margin-right: auto;
}

.address-brick {
    display: block;
    flex: 0 0 40%;
    border: 1px solid #778899;
    margin-bottom: .5rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(163, 163, 163, 1);
    min-width: 150px;
    min-height: 200px;
}

.address-content {
    padding: .5rem;
}

.address-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: .4rem .5rem;
    border-bottom: 1px solid #778899;
    font-weight: bold;
    font-size: 20px;
}

.radio-btn {
    margin-right: 10px;
}

.address-footer {
    margin-top: 1rem;
    margin-left: .5rem;

}

.checkbox {
    padding: .5rem;
}

.sub-header {
    margin-bottom: 15px;
}

/*---------------------
  Admin views
-----------------------*/

.td-button {
    min-width: 30px;
}

.underline-only {
    border: 0;
}

.underline-only th, td {
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #ddd;
}

table .btn {
    border-radius: 5px;
}

#total-orders {
    background-color: #4cb4c7;
}


#orders-delivered {
    background-color: #2E8B57;
}

#orders-started {
    background-color: #7abecc;
}

#orders-pending {
    background-color: #7CD1C0;
}


/*---------------------
  Footer
-----------------------*/

footer {
    clear: both;
    position: relative;
    display: block;
    bottom: 0;
    min-height: 100px;
    width: 100%;
    margin-top: 100px;
}
