{% load static %}
<nav class="navbar navbar-dark bg-dark sticky-top" id="navbar">
    <div>
        <img id="logo-icon" src="{% static 'shop/images/logo.png' %}">
    </div>
    <div>
        <a class="nav-link" id="store-name" href="{% url 'home' %}">ClothesStore</a>
    </div>

    <div class="navbar-items">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'store' 'man' %}">Man</a>
                <ul class="dropdown">
                    <li class="nav-header">Categories</li>
                    {% for cat in man %}
                        <li><a href="{% url 'store-category' 'man' cat.name %}">{{ cat }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'store' 'woman' %}">Woman</a>
                <ul class="dropdown">
                    <li class="nav-header">Categories</li>
                    {% for cat in woman %}
                        <li><a href="{% url 'store-category' 'woman' cat.name %}">{{ cat }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>

    <div class="form-inline my-2 my-lg-0" id="nav-right">
        {% if user.is_authenticated %}
            {% if user.is_staff %}
                <a href="{% url 'admin-dashboard' %}"class="btn btn-warning">Admin</a>
            {% endif %}
            <a href="{% url 'account' %}"class="btn btn-warning">Account</a>
            <a href="{% url 'logout' %}"class="btn btn-warning">Logout</a>
        {% else %}
            <a href="{% url 'login' %}"class="btn btn-warning">Login</a>
        {% endif %}
        <a href="{% url 'cart' %}">
            <img  id="cart-icon" src="{% static 'shop/images/cart.png' %}">
        </a>
        <p id="cart-total">
            {% if user.is_authenticated %}
                {% if user.customer.total_cart_items %}
                    {{ user.customer.total_cart_items }}
                {% else %}
                    0
                {% endif %}
            {% endif %}
        </p>
    </div>
</nav>
